@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap");

:root {
  --color1: #e60012;
  --color2: #0b2b6b;
  --color3: #d6f0fa;
  --color4: #efefef;
  --color5: #ffffff;
  --color6: #434242;
  --font1: "MuseoModerno", cursive;
}
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  border-bottom: 1px solid black;
}
header > nav {
  display: flex;
  justify-content: space-between;
}
header > nav > .nav-first-section {
  display: flex;
  flex-direction: row;
}
.first-section-header {
  background-color: var(--color1);
}
.nintendo {
  color: var(--color5);
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.3rem;
  margin: 1rem;
  text-align: inherit;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav-second-section {
  display: flex;
  margin: 1rem;
  margin-top: 1.5rem;
}
.nav-second-section > div {
  margin: 0;
}
.nav-second-section > div > a {
  text-decoration: none;
  padding: 0.5rem;
  color: #434242;
  font-family: var(--font1);
}
.nav-second-section > div > img {
  height: 1em;
  color: var(--color6);
}
input {
  outline: none;
  border: none;
  margin-left: 1rem;
}
.header-btn {
  border: none;
  background-color: inherit;
  margin-top: 1em;
  font-weight: bold;
  color: var(--color6);
}
.nav-section {
  margin-top: 0.6em;
  margin-bottom: 10px;
  margin-left: 10px;
  border-bottom: 1px solid gray;
}
.search-icon {
  position: relative;
  right: -10px;
  top: 7px;
}
.arrow-icon {
  position: relative;
  top: 0.4rem;
}
